@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.columns {
  column-count: 4;
  column-width: 250px;
  /* columns: 4 250px; */
  column-rule: 3px solid black;
  column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: 0;
  color: whitesmoke;
  background-color: black;
  padding: 1rem;
  break-inside: avoid;
}

.columns .quote {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  column-span: all;
}

.nowrap {
  white-space: nowrap;
}
