p{
    color:yellow;
    background-color: blue;
}
/*Class Selector*/
.cls{
    color:rgb(30, 255, 0);
    background-color: rgb(255, 225, 0);
}
/*Id Selector*/
#ide{
    color:rgb(216, 171, 222);
    background-color: rgb(255, 123, 0);
}















/* attribute selector */
a[href="abc.com"] {
    color: blue;
    background-color: rgb(109, 109, 27);
}
a[href="xyz.id"] {
    color: green;
    background-color:gray;-
}
/* grouping selector */
b,i,u{
    color: lightpink;
    background-color: magenta;
}

/* descendant selector */
header h3, header p {
    color: maroon;
    background-color: yellowgreen;
}
/* child selector */
article > p {
    color: red;
    background-color: lightskyblue;
}

article > main > p {
    color: rgb(0, 238, 255);
    background-color: rgb(250, 150, 135);
}

/* adjacent selector */
h6+small{
    color: gold;
    background-color: indigo;
}
