
.parent_div{
    width: 700px;
    height: 600px;
    border: 1px solid blue;
    position: relative;
    margin: auto;
}

.squ{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(246, 18, 6);
    position: absolute;
}

.cir{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(62, 246, 6);
    position: absolute;
    border-radius: 50%;
}

.sq1p{
    top:0;
    left:0;
}
.sq2p{
    top:0;
    right:0;
}

.sq3p{
    bottom:0;
    left:0;
}
.sq4p{
    bottom:0;
    right:0;
}

.ci1p{
    top:0;
    right:0;
    left:0;
    margin: auto;
}

.ci2p{
    bottom:0;
    right:0;
    left:0;
    margin: auto;
}

.ci3p{
    bottom:0;
    top:0;
    left:0;
    margin: auto;
}

.ci4p{
    bottom:0;
    top:0;
    right:0;
    margin: auto;
}