/* 
    content-box
    - It will take space according to content.
    - h1 -> Hello, World! -> width -> 500px 
    - Hello, World! size is 500px
    
    border-box
    - It will take space according to content + padding + border.
    - h1 -> Hello, World! -> width -> 500px
    - Hello, World! -> 400px
    - padding -> 50px
    - border -> 50px
    - total -> 500px 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  border: 2px dotted red;
  font-size: 1.5rem;
  margin: 2em;
  /* margin-top: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  margin-left: 2em; */
  padding: 2em;
  /* padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em; */
}

.circle {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: 2px solid red;
  border-radius: 50%;
  outline: 2px solid black;
  outline-offset: 4px;
}
