.mainBox{
    border: 2px solid red;
    height: 400px;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    overflow-y: auto;
}

.mainBox > div{
    flex: 1;
    border: 2px solid blue;
    padding: 0.5rem;
    min-width: 200px;
}

.addressBox{
    border: 2px solid green;
    padding: 0.5rem;
}