div {
    background-color: blue;
}

p {
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
}

.opacity-1 {
    opacity: 1.0;
}

.opacity-2 {
    opacity: 0.8;
}

.opacity-3 {
    opacity: 0.6;
}

.opacity-4 {
    opacity: 0.4;
}

.opacity-5 {
    opacity: 0.2;
}

.opacity-6 {
    opacity: 0.0;
}
